{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block content %}

<div class="home-page">
  <div class="home">
    <div class="main-heading">
      <h1>Welcome to Jamii website</h1>
      <h2>Here we keep track of all business in Jamii area</h2>
    </div>
  </div>
  <h1 id="head-home">How it works</h1>
  <div class="container">
  <div class="box box1">
    <h2>STEP ONE</h2>
    <p>First you need to have an account so if you don't have an account you need to register</p>
  </div>
  <div class="box box2">
    <h2>STEP TWO</h2>
          <p>After you have registered you can log in and register a business if you have</p>
  </div>
  <div class="box box3">
    <h2>STEP THREE</h2>
          <p>You can also be able to check all the business in jamii area</p>
  </div>
  </div>
</div>

{% endblock %}
